<div class="container">
  <form (submit)="signup()" [formGroup]="userForm" class="form mt-5">
    <div class="text-center">
      <h2>Sign up</h2>
    </div>
    <div *ngIf="isError" class="my-2 p-2 border rounded-2 bg-warning text-dark">
      {{ errorMessage }}
    </div>
    <div class="mb-3">
      <label for="" class="mb-2">Name</label>
      <input
        type="name"
        name="name"
        formControlName="name"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="" class="mb-2">Email</label>
      <input
        type="email"
        name="email"
        formControlName="email"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="" class="mb-2">Password</label>
      <input
        type="password"
        name="password"
        formControlName="password"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="" class="mb-2">Confirm Password</label>
      <input
        type="password"
        name="confirm-password"
        formControlName="confirmPassword"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>
  <div class="mt-2 text-sm">
    Already have an account?
    <a [routerLink]="['/signin']">sign in</a>
  </div>
</div>
