<div class="container">
  <form (ngSubmit)="signup()" [formGroup]="signupForm" class="form mt-5">
    <div class="text-center">
      <h2>Sign up</h2>
    </div>
    <div *ngIf="isError" class="my-2 p-2 border rounded-2 bg-warning text-dark">
      {{ errorMessage }}
    </div>
    <div class="mb-3">
      <label
        class="mb-2"
        [ngClass]="{
          'text-danger font-bold':
            signupForm.get('name')?.touched && !signupForm.get('name')?.valid
        }"
        >Name</label
      >
      <input
        type="text"
        name="name"
        formControlName="name"
        class="form-control"
        [ngClass]="{
          'border border-2 border-danger':
            signupForm.get('name')?.touched && !signupForm.get('name')?.valid
        }"
      />
    </div>
    <div class="mb-3">
      <label
        class="mb-2"
        [ngClass]="{
          'text-danger font-bold':
            signupForm.get('email')?.touched && !signupForm.get('email')?.valid
        }"touched
        >Email</label
      >
      <input
        type="email"
        name="email"
        formControlName="email"
        class="form-control"
        [ngClass]="{
          'border border-2 border-danger':
            signupForm.get('email')?.touched && !signupForm.get('email')?.valid
        }"
      />
    </div>
    <div class="mb-3">
      <label
        class="mb-2"
        [ngClass]="{
          'text-danger font-bold':
            signupForm.get('password')?.touched &&
            !signupForm.get('password')?.valid
        }"
        >Password</label
      >
      <input
        type="password"
        name="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{
          'border border-2 border-danger':
            signupForm.get('password')?.touched &&
            !signupForm.get('password')?.valid
        }"
      />
    </div>
    <div class="mb-3">
      <label
        class="mb-2"
        [ngClass]="{
          'text-danger font-bold':
            signupForm.get('confirmPassword')?.touched &&
            !signupForm.get('confirmPassword')?.valid
        }"
        >Confirm Password</label
      >
      <input
        type="password"
        name="confirm-password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{
          'border border-2 border-danger':
            signupForm.get('confirmPassword')?.touched &&
            !signupForm.get('confirmPassword')?.valid
        }"
      />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>
  <div class="mt-2 text-sm">
    Already have an account?
    <a [routerLink]="['/signin']">sign in</a>
  </div>
</div>
